*, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-size: 2vmax;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: lighter;
}

h1 {
  font-size: 8vmax;
}

h2 {
  font-size: 5vmax;
}
